{% extends 'base.html.twig' %}

{% block title %}Code Pin
{% endblock %}

{% block body %}
			{% for message in app.flashes('danger') %}
				<div class="mx-auto  alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

	<div class="text-center">
		<img style="width:200px;" src="/images/ndlp.jpg">
		<br/><br/><br/><br/>
		<i style="font-size:60px;" class="fa fa-qrcode" aria-hidden="true"></i><br/><br/>
		<h2>Code Pin</h2>
		<h3>Pour accédez à la génération du QRCode, veuillez entrez le code PIN !</h3>
		{{form_start(form)}}
		<div class="card-body">

			<div class="input-group mx-auto mb-3 w-25 ">
				{{form_widget(form.pin)}}
			</div>

			{{form_widget(form.submit)}}
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
