{% extends 'base.html.twig' %}

{% block title %}Donnez votre avis !{% endblock %}

{% block body %}
{{form_start(form)}}
 {% for categorie in categories %}
				<div
					class="star-ratings-input">
					<!--GOUT-->
					<h2>{{ categorie.longname }}</h2>
					<p>Indiquez votre avis en notant de 1 à 5 étoiles.</p>


					<input type="radio" id="note-{{ categorie.shortname }}1" value="1" name="{{ categorie.id }}" checked/>
					<input type="radio" id="note-{{ categorie.shortname }}2" value="2" name="{{ categorie.id }}"/>
					<input type="radio" id="note-{{ categorie.shortname }}3" value="3" name="{{ categorie.id }}"/>
					<input type="radio" id="note-{{ categorie.shortname }}4" value="4" name="{{ categorie.id }}"/>
					<input type="radio" id="note-{{ categorie.shortname }}5" value="5" name="{{ categorie.id }}"/>
					<div class="stars">
						<label for="note-{{ categorie.shortname }}5">★</label>
						<label for="note-{{ categorie.shortname }}4">★</label>
						<label for="note-{{ categorie.shortname }}3">★</label>
						<label for="note-{{ categorie.shortname }}2">★</label>
						<label for="note-{{ categorie.shortname }}1">★</label>
					</div>
				</div>
                {% endfor %} 
                {{form_end(form)}}
{% endblock %}
